@import url('https://fonts.googleapis.com/css2?family=Nunito');

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Regular.woff2');
}

* {
    box-sizing: border-box
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    line-height: 1.2;

    --bs-body-font-family: Nunito, sans-serif;
}

nav, section {
    width: calc(100vw - 60px);
    max-width: 700px;
    position: relative;
}

a {
    text-decoration: none
}

img#pfp {
    border-radius: 50%;

    height: 50px;
    margin-right: 10px;
}

h1 {
    margin: 9px 0;
}

h1, h2 {
    font-size: 24px;
    font-weight: bold
}

h3 {
    font-size: 18px;
    display: flex;
    align-items: center
}

div, p, span {
    font-size: 14px
}

header {
    position: sticky;
    top: 0;
    background-color: #eee;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #333;
}

#navbarNav {
    flex-grow: 1 !important
}

.navbar-nav {
    flex-direction: row !important;
    justify-content: end !important
}

.nav-link {
    padding: 7px !important
}

.navbar-brand > h1 > span {
    display: block
}

.badge.badge-secondary {
    background: #0088ff;
    margin-left: 4px;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

div#sliding-pages li {
    margin-top: 20px;
    margin-bottom: 20px;
}