@font-face {
    font-family: "JetBrains Mono";
    src:         url("res/font/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-family: "Nunito";
    src:         url("res/font/Nunito-VariableFont_wght.ttf");
}

* {
    font-family: "Nunito", monospace;
}

:root {
    --highlight-color: #48f;
    --dark-grey:       #181818;
    --bg-color:        #ffffff;
    --fg-color:        #000000;
}

body {
    background:     var(--bg-color);
    color:          var(--fg-color);
    display:        flex;
    align-items:    center;
    flex-direction: column;
    text-align:     justify;
    line-height:    1.2;
}

section {
    width:     calc(100vw - 60px);
    max-width: 700px;
    position:  relative;
}

a {
    color:           var(--highlight-color);
    text-decoration: none;
    font-weight:     normal;
}

a:hover {
    text-decoration: underline;
}

p, span {
    font-size: 11pt;
}

p {
    margin-top:    15px;
    margin-bottom: 15px;
}

p:first-child {
    margin-top: 5px;
}

p:last-child {
    margin-bottom: 5px;
}

ul {
    list-style-type:      none;
    padding-inline-start: 0;
    padding-inline-end:   0;
}

h2 {
    border-bottom: 1px solid var(--fg-color);
}

h3 {
    margin-top: 0;
    font-size:  18px;
    text-align: left;
}

li {
    outline:       1px solid var(--fg-color);
    padding:       10px 10px 5px;
    margin-bottom: 20px;
    position:      relative;
}

li > a.link-to-project {
    position:         absolute;
    top:              10px;
    right:            10px;
    display:          block;
    width:            14px;
    height:           14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16'%3E%3Cpath d='M 5 1 L 4 1 A 3 3 0 0 0 1 4 L 1 12 A 3 3 0 0 0 4 15 L 12 15 A 3 3 0 0 0 15 12 L 15 11' stroke='%2348f' stroke-linecap='square' stroke-linejoin='round' stroke-width='2' fill='none'/%3E%3Cpath d=' M 10 1 15 1 L 15 6 M 8 8 L 15 1' stroke='%2348f' stroke-linecap='square' stroke-width='2' fill='none'/%3E%3C/svg%3E");
    background-size:  cover;
}

img#pfp {
    border-radius: 50%;
}

#page-select {
    display:       flex;
    flex-grow:     1;
    position:      relative;
    border-top:    1px solid var(--fg-color);
    border-bottom: 1px solid var(--fg-color);
}

/* Customize the label (the#page-select>label) */
#page-select > label {
    display:             flex;
    justify-content:     center;
    align-items:         center;
    position:            relative;
    cursor:              pointer;
    font-size:           11pt;
    width:               6em;
    flex-grow:           1;
    text-align:          center;
    padding:             8px 10px;
    -webkit-user-select: none;
    -moz-user-select:    none;
    -ms-user-select:     none;
    user-select:         none;
}

#page-select > label:hover {
    text-decoration: underline;
}

/* Hide the browser's default radio button */
#page-select > input {
    position: absolute;
    opacity:  0;
    cursor:   pointer;
    height:   0;
    width:    0;
}

#page-select::after {
    content:        "";
    position:       absolute;
    display:        block;
    width:          calc(12px + 100% / var(--num-pages));
    height:         100%;
    outline:        1px solid var(--fg-color);
    outline-offset: -6px;
    left:           calc(-6px + 100% / var(--num-pages) * var(--page-number));
}

h1 {
    margin-top:    10px;
    margin-bottom: 10px;
    font-family:   "JetBrains Mono", monospace;
}

h1 > div {
    font-family: "JetBrains Mono", monospace;
    font-size:   11pt;
}

#left {
    display:         flex;
    align-items:     center;
    justify-content: left;
}

.header > * {
    flex-grow: 0;
}

img#pfp {
    height:       50px;
    margin-right: 10px;
}

body {
    --page-number: 0;
    --num-pages:   1;
    margin:        0;
    padding:       13px;
    position:      absolute;
    top:           0;
    left:          0;
    width:         100vw;
    height:        100vh;
    overflow:      hidden;
    transition:    --page-number .5s;
    box-sizing:    border-box;
}

#sliding-pages {
    width:      calc(var(--num-pages) * 100vw);
    display:    flex;
    overflow-x: hidden;
}

#sliding-pages > div {
    width:          100vw;
    min-width:      100vw;
    display:        flex;
    flex-direction: column;
    align-items:    center;
    transform:      translateX(calc(-100vw * (var(--page-number) - var(--num-pages) / 2 + 0.5)));
    overflow-y:     scroll;
}

#sliding-pages > div > section::after {
    display:         flex;
    justify-content: center;
    align-items:     center;
    content:         "-";
    color:           transparent;
    user-select:     none;
    overflow:        hidden;
    width:           100%;
    height:          1px;
    margin-top:      20px;
}

#sliding-pages > div::-webkit-scrollbar {
    display: none;
}

@property --page-number {
    syntax:        "<number>";
    inherits:      true;
    initial-value: 0;
}

.project-tag {
    user-select:    none;
    margin-left:    10px;
    font-size:      10pt;
    background:     var(--highlight-color);
    color:          var(--bg-color);
    border-radius:  9pt;
    padding:        1pt 5pt;
    vertical-align: 1.5pt;
    white-space: nowrap;
}

.project-img-caption {
    display:    inline-block;
    width:      100%;
    text-align: center;
    margin:     5px;
}

.project-img {
    --w:      1;
    width:    calc(var(--w) * 100%);
    height:   auto;
    position: relative;
    left:     calc((1 - var(--w)) * 50%);
}